= simple_form_for @user do |f|
  = f.error_messages
  = f.input :email, :label => "Email address"
  = f.input :zipcode
  = f.input :password
  = f.input :password_confirmation, :label => "Confirm Password"
  = f.submit(@user.new_record? ? "Sign up" : "Update")
