- title "Sign up", show_title=false


#user_action
  = simple_form_for @user do |f|
    = f.input :zipcode, :label => 'Your zipcode', :input_html => {:style => 'width:75px'}
    = f.input :email, :label => "Your email address", :input_html => {:style => 'width:150px'}
    = f.submit 'Begin'
  %p{:style => 'margin-top:2em'} Already have an account? #{link_to "Sign in", signin_path}.

= render :partial => 'shared/google_map', :locals => { :user => @user }
