- title "First time set password"


%h3
  Hello, 
  = @user.email
%p
  Zip code: 
  = @user.zipcode
  
%p
  This is your first time logging in.
%p
  Please choose a password

= simple_form_for @user, :url => password_user_sessions_path do |f|
  = f.error_messages
  = f.input :email, :as => :hidden
  = f.input :password
  = f.input :password_confirmation, :label => "Confirm Password"
  = f.submit "Set password"

%br
= link_to "cancel", root_path

%p
  %strong
    This is not you? 
  = link_to "Start here", signup_path
  
